<div class="column is-5 text-center-m">
    <div class="bd-notification is-primary">
        <div class="card">
            <div class="card-image is-centered is-vcentered">
                <figure class="image is-16by9">
                    <iframe class="has-ratio" width="360" height="640" src="{{ video.link }}" frameborder="0"
                            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </figure>
            </div>
            <div class="card-content">
                <div class="content">
                    <p class="title">
                        {{ video.title }}
                    </p>
                    <p class="subtitle">
                        {{ video.description }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>