{% extends 'list_environment.html' %}

{% block list_title %}
    Videos
{% endblock %}
{% block list_subtitle %}
    You can also find me on <a href="https://www.youtube.com/channel/UC0FWNSkss4z5l-yn20lbtrQ">Youtube</a>.
{% endblock %}

{% block list_entries %}
    <div class="columns is-centered is-vcentered is-multiline" style="margin-top: 25px;margin-bottom:25px;">
        {% for video in object_list %}
            {% include 'videography/single_video.html' %}
        {% empty %}
            No videos yet.
        {% endfor %}
    </div>
{% endblock %}