{% extends 'list_environment.html' %}

{% block list_title %}
    {{ title }}
{% endblock %}

{% block list_entries %}
    <div class="modal">
        <div class="modal-background" onclick="document.querySelector('.modal').classList.remove('is-active'); "></div>
        <div class="modal-content">
            <img src="">
        </div>
        <button class="modal-close is-large" aria-label="close"
                onclick="document.querySelector('.modal').classList.remove('is-active'); "></button>
    </div>
    <div class="container">
        <div style="display: flex; flex-wrap: wrap; justify-content: flex-start; align-items: flex-start;">
            {% for image in object_list %}
                <div style="margin: 5px;">
                    <button style="background: url({{ image.picture.thumbnail.url }}); height: 200px; width: {{ image.picture.thumbnail.width }}px; border: 0;"
                            onclick="document.querySelector('.modal img').src = '{{ image.picture.url }}';document.querySelector('.modal').classList.add('is-active');">
                    </button>
                </div>
            {% empty %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
