{% extends 'list_environment.html' %}

{% block list_title %}
    {{ title }}
{% endblock %}

{% block admin_sub_header %}
    {% if perms.Gallery.change_Gallery and perms.Image.add_Image %}
        <style type="text/css" scoped>
            .box__dragndrop {
                display: none;
            }

            .box.has-advanced-upload {
                background-color: white;
                outline: 2px dashed black;
                outline-offset: -10px;
            }

            .box.has-advanced-upload .box__dragndrop {
                display: inline;
            }

            .box.is-dragover {
                background-color: grey;
            }
        </style>
        <form class="box" id="upload-box" method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="box__input">
                <div class="field">
                    <input class="box__file input" type="file" name="files" id="file"
                           data-multiple-caption="{count} files selected" multiple accept="image/*"/>
                </div>
            </div>
            <div class="columns is-multiline my-1" id="donelist">

            </div>
        </form>
        <script>
            const isAdvancedUpload = function () {
                let div = document.createElement('div');
                return (('draggable' in div) || ('ondragstart' in div && 'ondrop' in div)) && 'FormData' in window && 'FileReader' in window;
            }();
            const form = document.getElementById('upload-box');
            const done = document.getElementById('donelist');

            const csrftoken = document.querySelector("input[name='csrfmiddlewaretoken']").value;

            function set_thumbnail(pk) {
                let xhttp = new XMLHttpRequest();
                xhttp.open("POST", "{% url 'set_thumbnail' slug %}", true);
                xhttp.setRequestHeader("X-CSRFToken", csrftoken);
                xhttp.send(pk);
            }

            function upload(file) {
                let div = document.createElement('div');
                div.classList.add("column", "is-12");

                let pic = document.createElement('img');
                pic.height = 15;
                pic.width = 10;
                div.appendChild(pic);
                let reader = new FileReader();
                reader.onload = function (e) {
                    pic.src = e.target.result;
                }
                reader.readAsDataURL(file);

                let name = document.createTextNode(file.name);
                div.appendChild(name);
                done.appendChild(div);

                let fd = new FormData();
                fd.append("image", file);

                let xhttp = new XMLHttpRequest();
                xhttp.addEventListener("load", e => {
                    let icon = document.createElement('i');
                    icon.classList.add("is-pulled-right");
                    icon.classList.add("fas", "fa-check");
                    div.appendChild(icon);
                });
                xhttp.addEventListener("error", e => {
                    let icon = document.createElement('i');
                    icon.classList.add("is-pulled-right");
                    icon.classList.add("fas", "fa-times");
                    div.appendChild(icon);
                });
                xhttp.addEventListener("abort", e => {
                    let icon = document.createElement('i');
                    icon.classList.add("is-pulled-right");
                    icon.classList.add("fas", "fa-times");
                    div.appendChild(icon);
                });

                xhttp.open("POST", "{% url 'add_picture' slug %}", true);
                xhttp.setRequestHeader("X-CSRFToken", csrftoken);
                xhttp.send(fd);
            }

            form.addEventListener("input", e => {
                for (let file of form.files.files) {
                    upload(file);
                }
                form.files.files = [];
            });

            if (isAdvancedUpload) {
                form.classList.add('has-advanced-upload');

                form.addEventListener("drop", e => {
                    e.preventDefault();
                    e.stopPropagation();
                    for (let file of e.dataTransfer.files) {
                        upload(file);
                    }
                });

                "dragover dragenter".split(" ").forEach(s => {
                    form.addEventListener(s, e => {
                        form.classList.add('is-dragover');
                        e.preventDefault();
                        e.stopPropagation();
                    })
                });

                "dragleave dragend drop".split(" ").forEach(s => {
                    form.addEventListener(s, e => {
                        form.classList.remove('is-dragover');
                        e.preventDefault();
                        e.stopPropagation();
                    })
                });
            }
        </script>
    {% endif %}
{% endblock %}

{% block list_entries %}
    <div class="modal">
        <div class="modal-background" onclick="document.querySelector('.modal').classList.remove('is-active'); "></div>
        <div class="modal-content" style="width: inherit; display: flex; justify-content: center; align-items: center;">
            <img src="" style="max-height: 90%; max-width: 90%;">
        </div>
        <button class="modal-close is-large" aria-label="close"
                onclick="document.querySelector('.modal').classList.remove('is-active'); "></button>
    </div>
    <div class="container">
        <div style="display: flex; flex-wrap: wrap; justify-content: flex-start; align-items: flex-start;">
            {% for image in object_list %}
                <div style="margin: 5px; position:relative;">
                    <button class="button"
                            style="background: url({{ image.picture.thumbnail.url }}); height: 200px; width: {{ image.picture.thumbnail.width }}px; border: 0;"
                            onclick="document.querySelector('.modal img').src = '{{ image.picture.url }}';document.querySelector('.modal').classList.add('is-active');">
                    </button>
                    {% if perms.Gallery.change_Gallery %}
                        <div style="position:absolute; left: 0; top: 0; z-index: 10;"><!--
                            <button style="background: rgba(20,20,20,0.5); border: none;" class="button is-small has-text-white"
                                    onclick="alert('{{ image.pk }}')">
                                <i class="fas fa-times"></i>
                            </button>-->
                            <button style="background: rgba(20,20,20,0.5); border: none;" class="button is-small has-text-white"
                                    onclick="set_thumbnail({{ image.pk }})">
                                {% if image.pk == thumb_pk %}
                                    <i class="fa fa-star"></i>
                                {% else %}
                                    <i class="far fa-star"></i>
                                {% endif %}
                            </button>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
