<div class="column is-4 text-center-m">
    <div class="bd-notification is-primary">
        <div class="card">
            <div class="card-image is-centered is-vcentered">
                <figure class="image is-16by9">
                    <a href="{% url 'gallery' slug=gallery.slug %}">
                        <img src="{{ gallery.thumbnail.picture.big_thumbnail.url }}" width="360">
                    </a>
                </figure>
            </div>
            <div class="card-content">
                <div class="content">
                    <p class="title">
                        <a href="{% url 'gallery' slug=gallery.slug %}" class="has-text-dark">
                            {{ gallery.title }}
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>