{% extends 'list_environment.html' %}

{% block list_title %}
    Articles
{% endblock %}
{% block list_subtitle %}
    These articles are posted on <a href="https://medium.com/@ketzu">Medium</a>.
{% endblock %}

{% block list_entries %}
    <div class="columns is-centered is-vcentered is-multiline" style="margin-top: 25px;margin-bottom:25px;">
    {% for article in object_list %}
        <div class="column is-12">
            {% include 'blog/single_article.html' %}
        </div>
    {% empty %}
        No articles yet.
    {% endfor %}
    </div>
{% endblock %}