{% extends 'list_environment.html' %}

{% block list_title %}
    Projects
{% endblock %}

{% block list_entries %}
    <div class="columns is-centered is-vcentered is-multiline" style="margin-top: 25px;margin-bottom:25px;">
        {% for project in object_list %}
            <div class="column is-12">
                <div class="card">
                    <div class="media">
                        <figure class="media-left">
                            <a target="_blank" rel="noopener noreferrer" href="{{ project.link }}">
                                <img src="{{ project.image.url }}" height="500">
                            </a>
                        </figure>

                        <div style="padding-top:10px;">
                        <span class="title">
                            {{ project.name }}
                        </span>
                            <br>
                            <span class="is-size-5 has-text-grey-darker">
                            {{ project.description }}
                        </span>
                        </div>
                    </div>
                            <p class="has-text-right mx-1 pb-2">
                            {% if project.git %}
                                <a target="_blank" rel="noopener noreferrer" class="mx-2" href="{{ project.git }}">
                                    Visit git
                                </a>
                            {% endif %}

                                {% if project.link %}
                                    <a target="_blank" rel="noopener noreferrer" class="mx-2" href="{{ project.link }}">
                                        Visit Project
                                    </a>
                                {% endif %}
                        </p>
                </div>
            </div>
        {% empty %}
            No projects yet.
        {% endfor %}
    </div>
{% endblock %}